Package: cockpit-zfs
Version: 1.1.15-19
Architecture: all
Maintainer: Your Name <your@email.com>
Depends: python3-libzfs, python3-pip, sqlite3, python3-fastapi, python3-uvicorn
Priority: optional
Section: admin
Description: ZFS management module for Cockpit
