Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(', ') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build
make OS_PACKAGE_RELEASE=el8

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/cockpit/zfs/*
# D-Bus configuration
%config(noreplace) /etc/dbus-1/system.d/org._45drives.Houston.conf

# ZED event scripts (set executable permissions)
%attr(0755, root, root) /etc/zfs/zed.d/*

# Systemd service files (DO NOT use %config for these)
/etc/systemd/system/houston-dbus.service

# 45Drives Houston files (ensure executability)
%dir /opt/45drives
%dir /opt/45drives/houston
%attr(0755, root, root) /opt/45drives/houston/dbus_server.py
%attr(0755, root, root) /opt/45drives/houston/houston-notify
%attr(0755, root, root) /opt/45drives/houston/setup_notification_db.py

%post
pip3 install --upgrade pip

# ✅ Ensure SQLite is installed
dnf install -y sqlite || true  
dnf install -y jq || true  

# Ensure systemd reloads and starts the service after installation
systemctl daemon-reload
systemctl enable houston-dbus.service

# Start services only after setting up the database
systemctl start houston-dbus.service || true
systemctl restart zed

%changelog
* Tue Apr 01 2025 Rachit Hans <rhans@45drives.com> 1.2.1-1
- Added zfs alerts bell
- Initial Build for el9